<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nrs.nsnik.drivoolattendance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.TableProvider"
            android:authorities="com.nrs.nsnik.drivoolattendance"
            android:exported="false" />

        <service
            android:name=".services.SendSmsService"
            android:description="@string/servicedescription"
            android:exported="false" />
        <service
            android:name=".services.AttendanceService"
            android:exported="false" />

        <activity
            android:name=".HistoryActivity"
            android:label="@string/navHistory" />
        <activity
            android:name=".TripSummaryActivity"
            android:label="@string/tripsummary" />
        <activity android:name=".SettingsActivity"></activity>
    </application>

</manifest>